.profile{
    height:90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color:rgb(213, 213, 213);
}

.account{
    height:400px;
    width: 400px;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px;
    
   

}
.user-email{
    padding:40px;
    
}
.user-btn{
    padding: 10px 20px;
    background-color: rgb(0, 119, 255);
    width: 70%;
    border:none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
.avatar{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.email{
    font-weight:bold;
}

